.button {
    -fx-background-color: rgba(0,0,0,0);
    -fx-underline: false;
}
.b-button-clicked {
    -fx-underline: true;
}

.i-button {
    -fx-font-style: italic;
    -fx-font-family: 'Arial'
}
.b-button-1{
    -fx-font-weight: bold;
}